.container {
    /* box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; */
    /* width: 100%; */
}

#icon{
    display: none;
}

#Joker {
    display: flex;
    flex-wrap: wrap;
}

#Superman {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#Americancaptain {
    display: flex;
    flex-wrap: wrap;
}

#Batman {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#img1 {
    flex: 1;
}

#content1 {
    flex: 1;
    display: flex;
    align-items: center;
}

#img2 {
    flex: 1;
}

#content2 {
    flex: 1;
    display: flex;
    align-items: center;
}

#img3 {
    flex: 1;
}

#content3 {
    flex: 1;
    display: flex;
    align-items: center;
}

#img4 {
    flex: 1;
}

#content4 {
    flex: 1;
    display: flex;
    align-items: center;
}

.Footer {
    background-color:rgba(248,249,250);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Service {
    background-color: rgba(248,249,250);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.Team {
    max-width: 1200px;
    margin: 0 auto;
}

#h2, #h3, #h4 {
    text-align: center;
    margin: 0 auto;
}

.News {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.News ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.Navigator {
    width: 100%;
    background-color: #e9e9e9;
}

.Nav {
    max-width: 1200px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.Nav li {
    float: right;
    cursor: pointer;
    list-style: none;
    margin-left: 40px;
    margin-top: 25px;
}

.Nav li:hover {
    text-decoration: underline;
}

.about {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#aboutContent {
    padding: 0 10px 0 10px;
}

#map {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.page{
  text-align: center;
  margin: 20px;
}

.page li{
  display: inline;

  border-color:lightgray;
  font-size: 30px;
  border-style: solid;
  cursor: pointer;
  padding: 10px
}


.Newsdetial {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.Newsdetial ul li {
    margin: 0 auto;
}

.carousel-inner img {
    width: 100%;
}

